/bin
/build
/develop-eggs
/dist
/downloads
/download-cache
/eggs
/include
/lib
/local
/local-eggs/*
/parts
/htmlcov
src/*/*.egg-info
/src/
var
.*
*.pyc

/dump.tar.bz2
blob.tar.gz
/id_rsa*

db.tar.gz

/buildout.cfg
/quizdb.sqlite

/buildout-dummyproduction.cfg
