/bin
/build
/develop-eggs
/dist
/downloads
/eggs
/include
/lib
/local
/local-eggs/*
/parts
/htmlcov
src/*/*.egg-info
/src/
var
.*
*.pyc

blob.tar.gz

db.tar.gz

/buildout.cfg
/quizdb.sqlite

/buildout-dummyproduction.cfg
