[buildout]
extends = cfgs/development.cfg
eggs +=
    Products.PDBDebugMode
quizdb-url = sqlite:///quizdb.sqlite
quizdb-coin-pass = INSERTPASSWORD
quizdb-coin-walletpass = INSERTPASSWORD

[instance]
user = admin:admin
eggs +=
    Products.PDBDebugMode

[versions]
Products.PDBDebugMode = 1.3.1
