[buildout]
# Either extend cfgs/development.cfg or cfgs/production.cfg
# production.cfg will start extra instances, and configure Plone to launch on startup
extends = cfgs/development.cfg

# Use a sqllite database in the current directory (default option)
quizdb-url = sqlite:///quizdb.sqlite

# Example of using a MySQL database
# If you want to use MySQL, you furst have to create the tw_quizdb database,
# and a user for tutor-web to use. This should be:
# mysql> CREATE DATABASE tw_quizdb;
# mysql> GRANT ALL PRIVILEGES ON tw_quizdb.* TO '(username)'@'%' IDENTIFIED BY '(password)';
# Finally enable this line instead:
# quizdb-url = mysql+mysqldb://(username):(password)@localhost/tw_quizdb?charset=utf8

# If this Plone instance has an associated Smileycoin wallet, insert the details here.
quizdb-coin-pass = INSERTPASSWORD
quizdb-coin-walletpass = INSERTPASSWORD

[instance]
# Default admin username:password for the Plone site
user = admin:admin

# Add "MySQL-python" below if using MySQL
eggs +=
#    MySQL-python
#    Products.PDBDebugMode

[versions]
Products.PDBDebugMode = 1.3.1
